<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% if messages %}  
    {% for message in messages %}
        {{ message }}      
    {% endfor %}
    {% endif %}
        

    <h1>Weather App</h1>

    <form action="">
        <input type="text" name="name">
        <input type="submit" value="Add">
    </form>
    <br>
    {% for city in city_data %}
    {{ city.city.name }} <br>
    {{ city.temp }} <sup>o</sup><br>
    <img src="http://openweathermap.org/img/wn/{{ city.icon }}.png" alt="icon"> <br>
    {{ city.desc }} <br>
    <button><a href="{% url 'delete' city.city.id %}">Delete</a></button>
    <hr>
    {% endfor %}       

</body>
</html>