@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

.big-title {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    /* position: relative; */
}